<div class="edit">
  <h3>＜投稿を編集する＞</h3>
    <%= form_tag("/recipes/#{@recipe.id}", method: :patch, multipart: true) do %>
    <div class="edit_form">
      <div class="edit_image">
        <%= file_field_tag :image %>
      </div>
      <div class="edit_title">
        <p>＊変更後の料理名をお書き下さい</p>
        <textarea cols="60" name="text" placeholder="料理名" rows="3"><%= @recipe.title %></textarea>
      </div>
      <div class="edit_text">
        <p>＊変更後のレシピをお書き下さい</p>
        <textarea cols="60" name="text" placeholder="レシピ" rows="3"><%= @recipe.text %></textarea>
      </div>
      <div class="edit_foods">
        <p>＊変更後の食材をお書き下さい</p>
        <textarea cols="60" name="text" placeholder="#食材" rows="3"><%= @recipe.foods %></textarea>
      </div>
      <div class="edit_btn">
        <input type="submit" value="編集する">
      </div>
    </div>
  <% end %>
</div>